
*{
    margin: 5px;
    padding: 5px;
}

ol li:first-child {
    background-color: red;
  }
  
  ol li:nth-child(2) {
    background-color: yellow;
  }
  
  ol li:nth-child(3) {
    background-color: pink;
  }
  
  ol li:nth-child(4) {
    background-color: brown;
  }
  
  ol li:nth-child(5) {
    background-color: purple;
  }
  
  ol li:last-child {
    background-color: green;
  }
  